body {
  background-image: url(https://unsplash.it/g/1280/1024/?random);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
}

.center {
  text-align: center;
}

main {
  display: flex;
  min-height: 100vh;
}

.login-block {
  margin: auto;
}
.login-block canvas {
  border-radius: 5px;
}

.login-block p {
  text-align: center;
}

.chat {
  display: flex;
}

.chat .sidebar {
  width: 320px;
  padding: 0 10px;
  position: fixed;
}

.chat .sidebar img {
  margin-right: 10px;
}

.chat .messages {
  width: calc(100vw - 380px);
  margin-left: 350px;
}

.chat .messages img {
  display: block;
  margin-bottom: 15px;
}

.chat .message-block {
  display: flex;
}

.chat .message-block.right {
  flex-direction: row-reverse;
}

#send {
  width: 100%;
}